$screen-breakpoint-small: 800px;
$screen-breakpoint-medium: 1280px;

$page-default-font-color: #fff;
$page-default-font-hover-color: #ccc;

$navbar-background-color: #474b4f;
$navbar-link-hover-text-color: #86c232;
$navbar-link-hover-background-color: #6b6e70;

$main-content-background-color: #222629cc;
$card-background-color: rgba(43, 48, 51, 80%);
$card-background-color-hover: rgba(31, 33, 35, 80%);

$text-accent-color-green: #86c232;
$text-accent-color-orange: #ffbf00;
$text-accent-color-red: #b60000;

$button-primary-background-color: #86c232;
$button-primary-background-color-active: #72a629;
$button-secondary-background-color: #ffbf00;
$button-secondary-background-color-active: #c59400;
$button-tertiary-background-color: #2b65e2;
$button-tertiary-background-color-active: #2139c2;
$button-danger-background-color: #d80000;
$button-danger-background-color-active: #760000;

$button-disabled-background-color: #e7e8ee;
$icon-disabled-fill-color: #777;

$link-hover-text-color: #86c232;

$form-background-color: #fff;
$form-border-color: #e5e7eb;
$form-text-color: #000;
$form-input-border-color: #e7e8ee;
$form-input-border-color-focus: #db9a45;
$form-input-background-color: #fdfdff;